<IfModule mod_rewrite.c>
    RewriteEngine On

    # If the requested filename exists, serve it directly
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Otherwise, forward the request to index.php
    <!-- RewriteRule ^(.*)$ index.php [QSA,L] -->
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        # When mod_rewrite is not available, we instruct a temporary redirect of
        # the start page to the front controller explicitly so that the website
        # and the generated links can still be used.
        <!-- RedirectMatch 302 ^/$ /index.php/ -->
    </IfModule>
</IfModule>