{% extends 'layout/base.html.twig' %}

{% block body %}
    <h1>Créer un nouveau commentaire</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}