{% include 'layout/base.html.twig' %}
<br>
<h1 class="display-4 text-white">{{ category.name }}</h1>
<h3 class="text-white">{{ category.description }}</h3>
{% include 'post/index.html.twig' %}
{% include 'layout/widget.html.twig' %}
</div>
</div>

{% include 'layout/footer.html.twig' %}