{% include 'layout/header.html.twig' %}

<body>
    <!-- START preloader-wrapper -->
    <div class="preloader-wrapper">
        <div class="preloader-inner">
            <div class="spinner-border text-red"></div>
        </div>
    </div>
    <!-- END preloader-wrapper -->

    <!-- START main-wrapper -->
    <section class="d-flex">

        {% include 'layout/sidenav.html.twig' %}

        <div class="main-content">
            {% include 'layout/mobilenav.html.twig' %}