{% include 'layout/base.html.twig' %}

<h1>Tous les articles de {{ user.firstName}} {{ user.lastName }}</h1>
{% include 'post/index.html.twig' %}
        {% include 'layout/widget.html.twig' %}
    </div>
</div>

{% include 'layout/footer.html.twig' %}